<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= post.title %></h1>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/flairs/new" class="btn btn-success">New Flair</a>
      <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
       	   <button type="submit" class="btn btn-danger">Delete</button>
     </form>
     <p><%= post.body %></p>

     <hr>
     </h2>
      <ul class-"list-group">
        <% post.flairs.forEach((flair) => { %>
          <li class="list-group-item">
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/flairs/<% flair.id %>"
              style="background-color:<%= flair.color %>"> <%= flair.name %></a>
          </li>
       <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
